[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "NlinTS"]
	path = NlinTS
	url = https://github.com/cran/NlinTS
	shallow = true
	registered = true
